{
  "restartable": "rs",
  "ignore": [
    ".git*",
    "node_modules/**/node_modules",
    ".eslintrc",
    ".editorconfig",
    "yarn.lock",
    "package-lock.json",
    "src/client",
    "config",
    "demo",
    "m2",
    "release",
    "static/client-template.html",
    "build/webpack/demo.config.js",
    "build/webpack/client.config.js"
  ],
  "verbose": true,
  "env": {
    "NODE_ENV": "development"
  },
  "ext": "js json ejs"
}
